* {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

body {
  background-color: rgb(34, 32, 32);
  color: white;
  width: 100%;
}

.border {
  border: solid rgba(240, 197, 67, 0.304) 1px;
  margin: 0;
  padding: 1;
}

.tread {
  background-color: rgba(240, 197, 67, 0.616);
  border: solid rgba(240, 196, 67, 0.355) 1px;
  margin: 0;
  padding: 1;
}

.filter_elements {
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  padding-left: 10px;
  width: 230px;
}

.form_filter {
  align-items: center;
  border: solid rgba(240, 196, 67, 0.355) 3px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-items: center;
  margin-top: 100px;
  width: 100%;
}

.form_input_element {
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  padding-left: 10px;
  width: 100px;
}

h1 {
  font-size: 50px;
  margin-top: 55px;
}

.filter_space {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.filter_itens {
  align-items: flex-start;
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
}
